<div class="container mt-4">
  <h3>TuSegundazo.com</h3>
  <p><strong>Comercialización de automotores nuevos y usados</strong></p>

  <table class="table table-striped mt-3">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Marca</th>
        <th>Línea</th>
        <th>Modelo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ vehiculo.marca }}</td>
        <td>{{ vehiculo.linea }}</td>
        <td>{{ vehiculo.modelo }}</td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4">
    <h5>Conteo por marca:</h5>
    <ul>
      <li *ngFor="let item of conteoPorMarca | keyvalue">
        {{ item.key }}: {{ item.value }} vehículos
      </li>
    </ul>
  </div>
</div>
